<h1>Help</h1>
<p>
  Get help about  Ruby on Rails Tutorial in
  <a href="http://railstutorial.org/help">help page for Rails Tutorial</a>.
  to help you in the sample application, check
  <a href="http://railstutorial.org/book">book of Rails Tutorial</a>.
</p>
